<?xml version="1.0" encoding="utf-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.1/phpunit.xsd"
    colors="true" verbose="true" stopOnFailure="false"
    bootstrap="phpunit.php">

    <!--
        Todos os endereços de arquivos e diretórios são relativos ao
        diretório no qual o PHP unit foi iniciado, ou aquele onde está
        o arquivo de configuração "phpunit.xml".
    -->

    <testsuites>
        <testsuite name="AeonDigital-PHP-EnGarde">
            <!--
                Defina aqui cada arquivo de testes que será utilizado.
            -->
            <file>src/Config/ConfigServerTest.php</file>
            <file>src/Config/ConfigEngineTest.php</file>
            <file>src/Config/ConfigApplicationTest.php</file>
            <file>src/Config/ConfigSecurityTest.php</file>
            <file>src/Config/ConfigRouteTest.php</file>

            <file>src/RouterTest.php</file>


            <!--file>src/Handler/Mime/HTMLTest.php</file>
            <file>src/Handler/Mime/XHTMLTest.php</file>
            <file>src/Handler/Mime/XMLTest.php</file>
            <file>src/Handler/Mime/CSVTest.php</file>
            <file>src/Handler/Mime/JSONTest.php</file>
            <file>src/Handler/Mime/TXTTest.php</file>
            <file>src/Handler/Mime/XLSTest.php</file>
            <file>src/Handler/Mime/XLSXTest.php</file>
            <file>src/Handler/Mime/PDFTest.php</file>

            <file>src/Handler/ErrorListeningTest.php</file>
            <file>src/Handler/ResponseHandlerTest.php</file-->
        </testsuite>
    </testsuites>
    <filter>
       <whitelist processUncoveredFilesFromWhitelist="true">
            <!--
                Defina aqui cada diretório de projeto que será
                avaliado em um teste de cobertura.
            -->
            <directory>../src</directory>
        </whitelist>
    </filter>
</phpunit>
