<IfModule mod_rewrite.c>
    Options +FollowSymlinks
    RewriteEngine On
    RewriteBase /


    # Redirecionará TODA requisição HTTP para o arquivo "index.php" que deverá
    # estar na raiz do domínio.
    # Os arquivos de extenção especificada na regra de excessão serão servidos normalmente.
    RewriteCond %{REQUEST_URI} !(.*)\.(css|js|gif|png|jpg|jpeg|txt|ico|eot|woff|ttf|svg|pdf|xml)$ [NC]
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>
