<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appSettings />
    <connectionStrings />

    <!--
        Configurações mínimas para configuração de rotas REST
    -->
    <system.webServer>
        <rewrite>
            <rules>
                <clear />

                <!-- 
                    Redirecionará TODA requisição HTTP para o arquivo "index.php" que deverá
                    estar na raiz do domínio.
                    Os arquivos de extenção especificada na regra de excessão serão servidos normalmente.
                -->
                <rule name="PHP-AeonDigital\EnGarde" patternSyntax="ECMAScript" stopProcessing="true">
                    <match url="^(.*)$" />
                    <conditions logicalGrouping="MatchAny">
                        <add input="{URL}" pattern="^.*\.(css|js|gif|png|jpg|jpeg|txt|ico|eot|woff|ttf|svg|pdf|xml)$" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php" appendQueryString="true" />
                </rule>

            </rules>
		</rewrite>
    </system.webServer>
</configuration>
